.heading-primary {
    color: $color-primary;
    /* text-transform: uppercase; */
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    
    animation: moveInLeft 1.0s ease-out;

    @media only screen and (max-width: 1200px) {
        margin: 0;
    }
}

.heading-secondary {
    color: $color-text;
    /* text-transform: uppercase; */
    margin-bottom: 3rem;
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    
    animation: moveInLeft 1.0s ease-out;

    @media only screen and (max-width: 1200px) {
        font-size: 2rem;
        margin: 1.5rem;
    }
}