.section-discover {
    /* background-color: $color-white; */
    padding-top: 5rem;
    /* max-width: 192rem; */
    
}

.header-img {
    background-image: linear-gradient(
        to right bottom,
        rgba(#fff, 0.30),
        rgba(#fff, 0.30)), 
        url('../img/homepage.jpg');
    background-size: cover;
}

.card-wrapper {
    /* max-width: 100rem!important; */
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 2rem;
}