@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* since 100%/16 = 0.625 Allows for zoom in */
  font-family: 'Montserrat', sans-serif !important;
}

/* body {
    height:100vh;
    margin:0;
    display:flex; 
    flex-direction:column; 
} */
html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.heading-primary {
  color: #00EDF9;
  /* text-transform: uppercase; */
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  -webkit-animation: moveInLeft 1.0s ease-out;
          animation: moveInLeft 1.0s ease-out;
}

.heading-secondary {
  color: #333344;
  /* text-transform: uppercase; */
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  -webkit-animation: moveInLeft 1.0s ease-out;
          animation: moveInLeft 1.0s ease-out;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  /* @include respond(tab-port) {
        padding: 5rem !important;
    } */
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  /* @include respond(tab-port) {
        padding: 3rem !important;
    } */
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.section-discover {
  /* background-color: $color-white; */
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #F2FFFF;
  /* max-width: 192rem; */
}

.section-header--image {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), url("../img/background1.png");
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../img/background1.png");
  background-size: cover;
  /* max-width: 200vh; */
  /* max-height: 100rem; */
  /* padding-bottom: 70rem; */
  z-index: -100000;
  margin-right: auto;
  margin-left: auto;
  margin-top: -15rem;
}

.section-header--search {
  /* margin-top: -10rem; */
  padding-bottom: 20rem;
  margin-top: 10rem;
}

.card-wrapper {
  /* max-width: 100rem!important; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 2rem;
  padding-left: 2rem;
}

.product {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.4rem;
  padding-top: 0rem;
  z-index: 1000;
  max-width: 142rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background-color: orangered; */
}

.product__header {
  height: 66vh;
  /* background-image: linear-gradient(
        to right,
        rgba(#e7e7e7, 0.800),
        rgba(#fbffff, 0.800)); */
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
  /* background-color: #e7e7e7; */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(79, 172, 254, 0.8)), to(rgba(0, 242, 254, 0.8)));
  background-image: linear-gradient(to right, rgba(79, 172, 254, 0.8), rgba(0, 242, 254, 0.8));
  background-size: cover;
  background-position: top;
  position: relative;
  /* font-size: 1.6rem; */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 62vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 62vh, 0 100%);
  z-index: 10000;
  color: #333344;
}

.product__image {
  margin: 3rem 5rem 0rem 5rem;
  border-radius: 5px;
  width: 43%;
  display: inline;
  -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
}

.product__info {
  /*      display:inline; */
  width: 43%;
  float: right;
  margin: 3rem 5rem 5rem 0rem;
}

.product__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.product__heading {
  font-size: 3rem;
  vertical-align: top;
  /* &--peak {
        }

        &--load {
        } */
}

.product__heading--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-right: 10rem; */
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__heading--location {
  /* display:inline;
            margin-right: 3.5rem;
            float: left; */
}

.product__heading--location--font {
  width: 3rem;
  /* padding-right: 1rem; */
  color: #fff !important;
}

.product__ratings {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5rem 2rem;
}

.product__ratings--rating {
  font-style: italic;
  font-weight: 100;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__ratings--resort {
  display: inline;
  margin-right: 5.5rem;
}

.product__ratings--family {
  display: inline;
  margin-right: 5.5rem;
}

.product__ratings--scenery {
  display: inline;
}

.product__title {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__slopes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  font-size: 1.6rem;
  /* &--total {
        } */
}

.product__slopes--easy {
  display: inline;
}

.product__slopes--medium {
  display: inline;
}

.product__slopes--hard {
  display: inline;
}

.product__snow {
  font-size: 3rem;
}

.product__text {
  font-size: 1.6rem;
}

.product__price {
  font-size: 2.25rem;
  font-weight: 500;
  color: orangered;
}

.product__button--buy {
  background-color: #4facfe !important;
  width: 20rem !important;
  margin-left: 2rem;
}

.product__button--cart {
  background-color: #4facfe !important;
  width: 20rem !important;
}

.product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: row;
        justify-content: center;
        justify-content: space-between; */
  /* align-items: center; */
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.product__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.product__prices--heading {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4FACFE;
  font-weight: 600;
  font-size: 4rem;
}

.product__prices--table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vh;
  margin-top: 2rem;
  /* padding-left: 2rem; */
}

.product__description {
  height: 60vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(79, 172, 254, 0.8)), to(rgba(0, 242, 254, 0.8)));
  background-image: linear-gradient(to right, rgba(79, 172, 254, 0.8), rgba(0, 242, 254, 0.8));
  background-size: cover;
  background-position: top;
  position: relative;
  /* font-size: 1.6rem; */
  -webkit-clip-path: polygon(0 7vh, 100% 0, 100% 53vh, 0 100%);
          clip-path: polygon(0 7vh, 100% 0, 100% 53vh, 0 100%);
  z-index: -1000;
  color: #fff;
}

.product__description--heading {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 4rem;
  padding-top: 9rem;
}

.product__description--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0 4rem 0;
}

.product__description--title {
  font-weight: 300;
  margin: 0 10rem 0 5rem;
  min-width: 20rem;
}

.product__description--text {
  font-weight: 400;
  font-size: 2rem;
  margin-right: 5rem;
}

.product__description--soon {
  opacity: 0.7;
  width: 30vh;
  margin: 3rem 3rem 0 3rem;
  /*  &:last-child {
                padding-right: 3rem;
            } */
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #999;
  font-size: 2rem;
}

.flaticon-location, .flaticon-mountain, .flaticon-attachment {
  margin-right: 1rem;
  color: white;
  width: 40px !important;
  line-height: 200%;
  -webkit-transform: scale(1.5) !important;
          transform: scale(1.5) !important;
}

/* [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {

    font-size: 1670px;
    
} */
/* 
:global [class^="icon-"]:before,
:global [class*=" icon-"]:before {
    font-size: 1670px;
} */
.space {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.signin {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin__form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button, .button:link, .button:visited {
  text-decoration: none;
  font-size: 2rem;
  margin-top: -1rem;
  border: none;
  color: white;
  padding: 15px 17px;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button--blue {
  background-color: #00EDF9;
  margin-left: 3px;
}

.button--page {
  padding: 4px 20px 8px !important;
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* margin-left: 27.5%; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* margin-bottom: 15rem; */
  padding-bottom: 4rem;
}

.search__box {
  width: 60rem;
  position: relative;
}

.search__input {
  font-size: 2rem;
  width: 100%;
  padding: 2rem;
  /* margin-top: 5rem;
        margin-bottom: 7rem; */
  border-radius: 1.4rem;
  color: #333;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  outline: none;
  border: 0.5px solid #333344;
}

.search__input::-webkit-input-placeholder {
  color: #141923;
}

.search__input:-ms-input-placeholder {
  color: #141923;
}

.search__input::-ms-input-placeholder {
  color: #141923;
}

.search__input::placeholder {
  color: #141923;
}

.search__icon {
  position: absolute;
  left: 60rem;
  top: 2.5rem;
  color: black;
  font-size: 2.3rem;
}

.title {
  font-size: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 5rem;
  font-family: 'Montserrat', sans-serif !important;
  /* margin-bottom: 10rem; */
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #fff;
  /* background-color:white; */
  /* !!!!!!!!!!!!!! */
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  padding-top: 25rem;
  text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.9);
  padding-top: 30rem;
}

.title__secondary {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.card {
  border: 0px solid #8b8b8b;
  border-radius: 0rem;
  position: relative;
  height: 40rem;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif !important;
  cursor: pointer;
  /* background-color:rgba(106, 200, 255, 0.1); */
  /* &__container {
        border-radius: 0rem;
        overflow: hidden;
        font-size: 2rem;
    } */
  /*    
    &__body {
        font-size: 2rem;
    }

    

    &__price {
        padding-left: 1rem;
        font-size: 1.75rem;
        color:red;
    } */
}

.card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  /*         & > * {
            height: auto;
            width: 20rem;
        }  */
}

.card__header {
  font-weight: 600;
  font-size: 2rem;
  padding-left: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  letter-spacing: 3px;
}

.card__description {
  text-align: center;
  margin-top: 1rem;
  padding-left: 1rem;
  font-size: 1.75rem;
  color: #333;
}

.card__price {
  padding-left: 1rem;
  font-size: 2.5em;
  color: #2998ff;
  font-weight: 600;
}

.card__button {
  background-color: #2998ff;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.3rem;
  /*         width: 100%; */
  padding: 1.5rem;
  margin-bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.cardbig {
  /* display: flex;
    max-width: 100rem;
    justify-content: center; */
  border: 1px solid #8b8b8b;
  border-radius: 1rem;
  position: relative;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif !important;
  /* cursor: pointer; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* height: 100%; */
  height: 20rem;
  width: 100rem;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*
    border-radius: 0rem;
    position: relative;
    height: 40rem;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    font-family: 'Montserrat', sans-serif !important;
    cursor: pointer; */
  /* background-color:rgba(106, 200, 255, 0.1); */
  /* &__container {
        border-radius: 0rem;
        overflow: hidden;
        font-size: 2rem;
    }  */
  /*    
    &__body {
        font-size: 2rem;
    }

    

    &__price {
        padding-left: 1rem;
        font-size: 1.75rem;
        color:red;
    } */
}

.cardbig__image {
  display: inline;
  width: 33%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  border-radius: 10px;
  height: 20rem;
}

.cardbig__content {
  display: inline;
  width: 65%;
  float: right;
}

.cardbig__header {
  font-weight: 600;
  font-size: 2.25rem;
  padding-left: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
  letter-spacing: 2px;
  margin-left: 1rem;
  font-weight: 700;
  color: #333344;
}

.cardbig__description {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 0;
}

.cardbig__price {
  margin-right: 1rem;
  font-size: 2.5em;
  color: #2998ff;
  font-weight: 600;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.cardbig__button {
  background-color: #2998ff;
  border: none;
  color: white;
  cursor: pointer;
  /* display: block; */
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 1rem;
  left: 0;
  /* text-transform: uppercase; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.4rem;
  width: 9.5rem;
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.cardbig__button--remove {
  background-color: #ff4800;
  width: 15rem;
}

.cardbig__location {
  float: right;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-top: -3.5rem;
}

.cardbig__location--icon {
  color: #2998ff;
}

.form {
  font-size: 2rem;
  /*
    &__radio-group {
        width: 48%;
        white-space: normal;
        display: inline-block;

         @include respond(tab-port) {
            width: 100%;
            margin-bottom: 1rem;
        } 
    }

     &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    } 

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 3px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.3rem;

        &::after {
            content: "";
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 47%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    } */
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input {
  width: 300px;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 0.75px solid #999;
  /*         @include respond(tab-port) {
            width: 100%;
        } */
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #00EDF9;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

/* @import "components/_form.scss";
@import "components/bg-video";
@import "components/_composition.scss";
@import "components/_feature-box.scss";
@import "components/_card.scss";
@import "components/_stories.scss";
@import "components/_popup.scss"; */
/* .header {
    height: 40vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.800),
        rgba($color-primary-dark, 0.800)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    font-size: 1.6rem;
    z-index: -10;
} */
/* 
.bg {
    position: absolute;
    top: 10rem;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    
    /* overflow: hidden; 

    &__content {
        height: 50%;
        width: 100%;
        object-fit: cover;
    }
} */
.image {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.7;
  background-position: center center;
}

.image__content {
  -o-object-fit: cover;
     object-fit: cover;
  /* max-width: 1340px; */
}

.footer {
  background-color: #333344;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* margin-top: 5rem; */
  /* margin-top: 5rem; */
  /* Change this  */
  /* position: fixed; */
  /* left: 0;
    bottom: 0;
    width: 100%; */
  /* padding-top: 5rem;
    padding-bottom: 5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh; */
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
}

.footer__logo {
  height: 5rem;
  margin-left: 5rem;
}

.footer:last-child {
  padding-right: 10rem;
}

.footer__list {
  list-style-type: none;
}

.footer__list--heading {
  font-weight: 700;
}

.footer__list--item {
  font-weight: 500;
}

.footer:hover, .footer a:visited, .footer a:link, .footer a:active {
  text-decoration: none;
}

.footer a {
  color: white;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.footer {
  background-color: #333344;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* margin-top: 5rem; */
  /* margin-top: 5rem; */
  /* Change this  */
  /* position: fixed; */
  /* left: 0;
    bottom: 0;
    width: 100%; */
  /* padding-top: 5rem;
    padding-bottom: 5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh; */
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
}

.footer__logo {
  height: 5rem;
  margin-left: 5rem;
}

.footer:last-child {
  padding-right: 10rem;
}

.footer__list {
  list-style-type: none;
}

.footer__list--heading {
  font-weight: 700;
}

.footer__list--item {
  font-weight: 500;
}

.footer:hover, .footer a:visited, .footer a:link, .footer a:active {
  text-decoration: none;
}

.footer a {
  color: white;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  /* max-width: 1340px; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 2.7rem;
  padding-bottom: 1.5rem;
}

.navigation__logo-box {
  position: absolute;
  top: 0.5rem;
  left: 3rem;
}

.navigation__logo {
  height: 5.5rem;
}

.navigation__list {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__link {
  margin-right: 3rem;
}

.navigation__cart {
  margin-right: 3rem;
}

.navigation__buttons {
  list-style-type: none;
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation__buttons--blue {
  background-color: #00EDF9;
  color: #fff;
  padding: 0.9rem  2.3rem 1.3rem 2.3rem;
  border-radius: 1rem;
  margin-right: 1.5rem;
}

.navigation__buttons--white {
  color: #00EDF9;
  border: 0.2rem solid #00EDF9;
  padding: 0.7rem  2.1rem 1.1rem 2.1rem;
  border-radius: 1rem;
  margin-right: 1.5rem;
}

.navigation__buttons--signout {
  margin-top: -0.75rem;
  padding: 0.7rem  2.1rem 1.1rem 2.1rem;
}

.navigation:hover, .navigation a:visited, .navigation a:link, .navigation a:active {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */