.card {
    border-radius: 1.5rem;
    overflow: hidden;
    font-size: 2rem;
    height: 100%;

    &__image {
        border-radius: 2rem;
        padding: 1rem;
        height: 60%;
    }

    &__header {
        font-weight: 700;
        font-size: 2rem;
        padding-left: 1rem;
    }

    &__body {
        font-size: 2rem;
    }

    &__description {
        padding-left: 1rem;
        font-size: 1.75rem;
    }

    &__price {
        padding-left: 1rem;
        font-size: 1.75rem;
        color:red;
    }
}