.cardbig {

    /* display: flex;
    max-width: 100rem;
    justify-content: center; */
    border: 1px solid rgb(139, 139, 139);
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    font-family: 'Montserrat', sans-serif !important;
    /* cursor: pointer; */
    display:flex;
    /* height: 100%; */
    height: 20rem;
    width: 100rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

    /*
    border-radius: 0rem;
    position: relative;
    height: 40rem;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    font-family: 'Montserrat', sans-serif !important;
    cursor: pointer; */
    /* background-color:rgba(106, 200, 255, 0.1); */

    &__image {
        display: inline;
        width: 33%;
        object-fit: cover;
        background-size: cover;
        border-radius: 10px;
        height: 20rem;
    }
    &__content {
        display:inline; 
        width: 65%;
        float:right;
    }

    /* &__container {
        border-radius: 0rem;
        overflow: hidden;
        font-size: 2rem;
    }  */

    &__header {
        font-weight: 600;
        font-size: 2.25rem;
        padding-left: 1rem;
        text-transform: uppercase;
        margin-top: 2rem;
        letter-spacing: 2px;
        margin-left: 1rem;
        font-weight: 700;
        color: $color-text;
    }

    &__description {
        justify-content: left;
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 1.75rem;
        color: $color-grey-dark-3;
        margin-bottom: 0;
    }

    &__price {
        margin-right: 1rem;
        font-size: 2.5em;
        color:$color-tertiary-light;
        font-weight: 600;
        justify-content: right;
    }

    &__button {
        background-color:$color-tertiary-light;
        border: none;
        color: white;
        cursor: pointer;
        /* display: block; */
        font-size: 1.3rem;
        padding: 1rem;
        border-radius: 1rem;
        
        left: 0;
        /* text-transform: uppercase; */
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
        font-size: 1.4rem;
        width: 9.5rem;
        float: right;
        margin-right: 1rem;
        margin-bottom: 1rem;

        &--remove {
            background-color: rgb(255, 72, 0);
            width: 15rem;
        }
    }
    
    &__location {
        float: right;
        font-size: 1.5rem;
        margin-right: 1rem;
        margin-top: -3.5rem;

        &--icon {
            color:$color-tertiary-light;
        }
    }

/*    
    &__body {
        font-size: 2rem;
    }

    

    &__price {
        padding-left: 1rem;
        font-size: 1.75rem;
        color:red;
    } */
}