.search {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-left: 27.5%; */

    align-items: center;
    position: relative;
    /* margin-bottom: 15rem; */
    padding-bottom: 4rem;
    
    &__box {
        width: 60rem;
        position: relative;
    }

    &__input {
        font-size: 2rem;
        width: 100%;
        padding: 2rem;
        /* margin-top: 5rem;
        margin-bottom: 7rem; */
        border-radius: 1.4rem;
        color: $color-grey-dark-3;

        animation-name: moveInBottom;
        animation-duration: 1.0s;
        animation-timing-function: ease-out;

        outline: none;
        border: 0.5px solid #333344;
        

        &::placeholder {
            color: $color-grey-dark-4;
        }

        @media only screen and (max-width: 1200px) {
            padding: 1.5rem;
            padding-top: 1rem;
            /* display:flex;
            justify-content: center;
            align-items: center;
            justify-content: space-evenly;
            margin-right: auto; */
            /* margin-left: auto; */
        }
    }
      
    /* &__icon{ 
        position: absolute; 
        left: 60rem; 
        top: 2.5rem; 
        color: black; 
        font-size: 2.3rem;
    }  */

    @media only screen and (max-width: 1200px) {
        width: 32.5rem;
        padding-bottom: none;
        /* margin-right: auto;
        margin-left: auto; */
    }
}