.title {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5rem; 
    font-family: 'Montserrat', sans-serif !important;

    /* margin-bottom: 10rem; */
    /* font-family: "Lato", sans-serif; */
    font-weight: 600;
    letter-spacing: 0.5rem;
    color: $color-white;
    /* background-color:white; */
    /* !!!!!!!!!!!!!! */

    animation-name: moveInLeft;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    padding-top: 25rem;

    text-shadow: 0.5rem 1rem 1rem rgba($color-black, .9);

    &__secondary {
        font-size:3rem;
        display: flex;
        justify-content: center;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 400;
        margin-bottom: 4rem;
        margin-top: 1rem;

        
    }

    padding-top: 30rem;

    @media only screen and (max-width: 1200px) {
        font-size: 3.0rem;
        padding-top: 25rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}