.title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5rem; 
    font-family: 'Montserrat', sans-serif !important;

    /* margin-bottom: 10rem; */
    /* font-family: "Lato", sans-serif; */
    font-weight: 600;
    letter-spacing: 0.5rem;
    color: $color-grey-dark-3;
    /* background-color:white; */
    /* !!!!!!!!!!!!!! */

    animation-name: moveInLeft;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;

    text-shadow: 1rem 3rem 3rem rgba($color-black, .5);

    &__secondary {
        font-size:3rem;
        display: flex;
        justify-content: center;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 400;
        margin-bottom: 4rem;
        margin-top: 1rem;
    }
}